.grid{
  display: grid;
  grid-auto-rows:minmax(100px, auto);
  grid-gap:1em;
  color: black;
}

body{
  background-image: url(../../img/img.png);
  background-repeat: no-repeat;
  background-size: 100%;
}
.grid > div{
  padding: 1em;
  border-radius: 10px;
}
.grid > .header{
  grid-column: 1/4;
  grid-row: 1/2;
  margin-top: 1%;
  text-align: center;
  text-shadow: 3px 5px #ABD6D7;
  border-style: double;
  border-radius: 20px 5px 20px 5px;
  border-width: 20px thick;
  background-color: #F3FA9E88;
}
.aline h3{
  border-bottom: double #54ECFF;
}
.aline{
  border-left: solid red;
  margin-left: 20%;
  height: 100%;
}
.grid > .left{
  border-style: solid;
  background-color: #ABD6D7;
  width: 50%;
  text-align: center;
  margin-left: 50%;
}
.grid > .right{
  border-style: solid;
  background-color: #ABD6D7;
  width: 60%;
  text-align: center;
  margin-left: 10%;
}
div#footer{
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  color: #CCC;
  background: #333;
  padding:8px;
}

.back{
  border-style: solid;
  width: 18%;
  position: absolute;
  bottom: 50px;
  background: #F3FA9E;
  text-align: center;
  font-size: 25px;
  border-radius: 25px;
  box-shadow: 3px 5px #ABD6D7;
}

.frame{
  padding: 5%;
  margin: 15%;
  border-style: double;
  text-align: center;
  background-color: #F3FA9E88;
  border-radius: 25px;
}
form{
  display: inline-block;
  vertical-align: middle;
}
#categoryName
{
  text-align: center;
  caret-color: red;
}
.home{
  text-decoration: underline;
  float: right;
}
