@{
  Layout = "_Layout";
}
<div class="grid">
  <div class="header">
    <div class="home">
      <p><a href="/">Home</a></p>
    </div>
    <h1>Create New Category</h1>
  </div>
</div>
<div class="frame">
  <p>Add a Category</p>

  <form action="/categories" method="post" id=>
    <label for="categoryName"></label>
    <input id="categoryName" name="categoryName" type="text" placeholder="Input Here"><br>
    <button type="submit">Add</button>
  </form>
</div>
<div class="back">
  <p><a href="/categories">Back To Category</a></p>
</div>
